In [16]:
import pandas as pd
mpg = pd.read_csv('mpg.csv')

In [18]:
#기술 통계 분석
mpg.query('category in ["compact", "suv"]')\
.groupby('category', as_index = False)\
.agg(n = ('category', 'count'), mean = ('cty','mean'))

  category   n      mean
0  compact  47  20.12766
1      suv  62  13.50000

In [20]:
compact = mpg.query('category == "compact"')['cty']
suv = mpg.query('category == "suv"')['cty']

In [22]:
#t-test
from scipy import stats
stats.ttest_ind(compact, suv, equal_var = True)

TtestResult(statistic=11.917282584324107, pvalue=2.3909550904711286e-21, df=107.0)

In [26]:
#기술 통계 분석
mpg.query('fl in ["r", "p"]')\
.groupby('fl', as_index = False)\
.agg(n = ('fl', 'count'),
    mean = ('cty','mean' ))

  fl    n       mean
0  p   52  17.365385
1  r  168  16.738095

In [30]:
regular = mpg.query('fl == "r"')['cty']
premium = mpg.query('fl == "p"')['cty']

#t-test
stats.ttest_ind(regular, premium, equal_var = True)

TtestResult(statistic=-1.066182514588919, pvalue=0.28752051088667024, df=218.0)